
[part="summary"] {
	display: flex;
	align-items: center;
	width: 100%;
	outline: none;
	padding: var(--lumo-space-s) 10px;
	box-sizing: border-box;
	font-family: var(--lumo-font-family);
	font-size: var(--lumo-font-size-m);
	font-weight: 500;
	line-height: var(--lumo-line-height-xs);
	color: #FFFFFF;
	border-radius: 0;
	cursor: default;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	background-color: #334D6E!important;
}

:host(:not([disabled])) [part="summary"]:hover, :host(:not([disabled])) [part="summary"]:hover [part="toggle"] {
	color: #FFFFFF;
}
[part="toggle"] {
	display: block;
	width: 1em;
	height: 1em;
	margin-left: calc(var(--lumo-space-xs) * -1);
	margin-right: var(--lumo-space-xs);
	font-size: var(--lumo-icon-size-s);
	line-height: 1;
	color: #FFFFFF;
	font-family: "lumo-icons";
}

[part="content"] {
	padding: var(--lumo-space-xs) 10px 10px var(--lumo-space-s);
	font-size: var(--lumo-font-size-m);
	line-height: var(--lumo-line-height-m);
}