.opr-label{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #334D6E;
}
.opr-card-entity{
	width: 100%;
	border: 1px solid #E0E0E0;
}
.opr-action-button{
	/* Gradient / White */
	background: linear-gradient(180deg, #FFFFFF 0%, #F5F6F8 100%);
	border: 1px solid #C2CFE0;
	box-sizing: border-box;
	border-radius: 4px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;

	width: 240px;
	height: 40px;

	/* Dark */
	color: #334D6E;

}
.opr-form-item-with-border{
	border-bottom: 1px solid #E0E0E0;
}
.opr-phone-button{
	background: linear-gradient(180deg, #FFFFFF 0%, #F5F6F8 100%);
	border: 1px solid #C2CFE0;
	box-sizing: border-box;
	border-radius: 4px;
}